@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:  url('../fonts/inter-v12-latin-500.woff2') format('woff2'),
        url('../fonts/inter-v12-latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:  url('../fonts/inter-v12-latin-600.woff2') format('woff2'),
        url('../fonts/inter-v12-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        url('../fonts/inter-v12-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src:  url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
        url('../fonts/roboto-v30-latin-700italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src:  url('../fonts/Avenir-Medium.woff2') format('woff2'),
        url('../fonts/Avenir-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  src:  url('../fonts/Avenir-Heavy.woff2') format('woff2'),
        url('../fonts/Avenir-Heavy.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/playfair-display-v30-latin-700.woff2') format('woff2'),
        url('../fonts/playfair-display-v30-latin-700.woff') format('woff');
}


.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}

.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}

.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: .01875rem;
  font-size: .775rem;
  padding: 0 10px;
  line-height: 0.70rem;
}

.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}

.maketforfigma p > a:hover {
  color: #ffffff
}

.main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

/* Global */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}


button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  padding: 20px 59px 18px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.035em;
  color: #FFFFFF;
  background: #FF6744;
  border-radius: 46px;
}

.button:hover {
  background-color: rgb(255, 103, 68, 0.7);
}

.section__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.04em;
}

.section__subtitle {
  font-family: 'Avenir Next LT Pro', 'Times New Roman', serif;
  font-size: 15px;
  line-height: 18px;
}

/* Header */

.page-header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header__wrapper a:hover {
  opacity: 0.7;
}

.header__logo-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo-link {
  display: block;
  width: 80px;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 50%;
}

.header__logo-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 112px;
  margin-left: auto;
  margin-right: 50px;
}

.header__link {
  position: relative;
  padding: 13px 44px 12px;
  color: #FF6744;
  border: 1px solid #FED4CD;
  border-radius: 50px;
}

.header__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 177px;
  height: 44px;
  border: 1px solid #FED4CD;
  border-radius: 50px;
  transform: rotate(-14.49deg);
}


/* Intro */

.intro {
  padding-top: 218px;
  height: 100vh;
  background: linear-gradient(73.26deg, #FED4CD 0.86%, rgba(254, 212, 205, 0) 100%);
  border-radius: 0px 0px 70px 70px;
}
